@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', 'Inter', sans-serif;
    /* border: 1px solid red; */

}

.container {

    width: 100%;
    min-height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-image: url("./assets/HeroBanner_Pad.jpg.thumb.webp");
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0 65px;

}

.nav-links {
    width: 400px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin-right: 120px;

}

.nav-links-secondary {
    width: 400px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

nav img {

    width: 100px;
}

#icons {
    width: 105px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-left: 10px;

}

#cart {
    display: none;
}

#menue {
    font-size: 25px;
    font-weight: 700;
    display: none;
}

.hero-section {
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 75px 65px;
}

.hero-section h3 {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.hero-section h1 {
    color: white;
    padding: 10px 0;
    font-size: 35px;
    font-weight: 300;
}

.hero-section p {

    color: white;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 300;
}

.hero-section button {
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 2px;
    padding: 10px 80px;
    cursor: pointer;
}

.hero-section button:hover {
    background-color: #f7f1f1;
}

.section-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 65px;
}

.text-section-2 {
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aliceblue; */
    padding: 2px;
}

.text-section-2 h3 {
    font-size: 20px;
    font-weight: 400;
}

.text-section-2 h1 {
    font-size: 40px;
    font-weight: 400;
}

.text-section-2 p {
    font-size: 15px;
    padding: 13px 0;

}

.text-section-2 img {
    display: none;
}



.buy-btn {
    padding: 10px 75px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: 1 px solid black;
    border-radius: 3px;
    cursor: pointer;

}

.learn-btn {
    padding: 10px 60px;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: 500;
    border: 1 px solid black;
    border-radius: 3px;
    cursor: pointer;
}

.image-section-2 {
    height: 500px;
    width: 60%;
    display: flex;
    justify-content: center;
    background-color: lightgreen;
    background-image: url("./assets//LargeCardProduct_PC_10t.jpg.thumb.webp");
    background-position: center;
    background-size: cover;

}

.buy-btn:hover {
    background-color: rgb(41, 38, 38);

}

.learn-btn:hover {
    background-color: rgb(244, 243, 243);
}

.section-3 {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 90px;
}

.tv-section {
    height: 400px;
    width: 520px;
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
}

.buds-section {
    height: 400px;
    width: 520px;
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;

}

.tv-text-section {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding: 10px;
}

.tv-image-section {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tv-image-section img {

    height: 250px;
    transition: all ease-in-out 0.2s;
}

.tv-image-section img:hover {
    transform: scale(120%);
}

.tv-text-section .buy-btn {
    padding: 10px 35px;
}

.tv-text-section .learn-btn {
    padding: 10px 20px;

}

.tv-text-section img {
    display: none;

}

.tv-text-section h3 {

    font-size: 15px;
    font-weight: 500;
}

.tv-text-section h1 {
    font-size: 35px;
    font-weight: 400;
}

.tv-text-section p {
    font-size: 18px;
    padding: 5px 0;
}

.tv-text-section h4 {
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
}


.section-4 {
    width: 100%;
    min-height: 100vh;
    padding: 55px 100px;
}

.section-4 h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
    border-bottom: 1px solid rgb(112, 112, 112, 0.10);
}

#section-4-links {
    padding: 25px 0;
    list-style: none;
    display: flex;
}

#section-4-links li {
    font-size: 20px;
    margin-right: 35px;
}

#section-4-links li:first-child {
    padding-bottom: 5px;
    border-bottom: 1px solid red;
}


.oneplus-product {
    margin-top: 20px;
    height: 410px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#section-4-links li {
    font-size: 19px;
    margin-right: 35px;
}

.trending-product {
    width: 200px;
    height: 400px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.trending-product img {
    width: 200px;
    transition: all ease-in-out 0.3s;
}

.trending-product img:hover {
    transform: scale(120%);
}

.trending-product h1 {
    font-weight: 400;
    font-size: 24px;
}

.discount {
    color: red;
    font-size: 13px;
    padding: 10px 0;
}

.EMI {
    font-size: 14px;
    margin-bottom: 5px;

}


#from-btn {
    height: 40px;
    width: 270px;
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 2px;
}

#from-btn:hover {
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 600;
    align-items: center;
    justify-content: center;

}

.section-5 {
    width: 100%;
    min-height: 100vh;
    padding: 55px 100px;
    background-color: black;
}

.section-5 h3 {
    font-size: 22px;
    font-weight: 400;
    padding: 15px 0;
    color: white;
    border-bottom: 1px solid rgb(109, 109, 109, 0.5);
}

#uper-h1 {
    color: white;
    font-size: 35px;
    padding: 25px 0;
    font-weight: 400;
    font-weight: 300;
}

#discover-link {
    color: red;
    font-weight: 100;
    text-decoration: none;
}

.bi-arrow-right-short {
    font-size: 50px;
}

.section-5-container {
    display: flex;
    height: 450px;
    width: 100%;
    justify-content: center;
}


.text-section-5 {
    display: flex;
    width: 450px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px;
}

.image-section-5 {
    width: 800px;
    background-position: center;
    background-size: cover;
    background-image: url("./assets/section-5-img.webp");
}


.text-section-5 h1 {
    font-size: 40px;
    color: white;
    font-weight: 300;
}

.text-section-5 p {
    padding: 15px 0;
    font-size: 15px;
    font-weight: 400;
    color: white;

}

.text-section-5 a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid white;
    padding-bottom: 1px;
}

.text-section-5 img {
    display: none;
}

.section-6 {
    width: 100%;
    min-height: 100vh;
    padding: 55px 100px;
    background-color: black;
}

.section-6 h3 {
    font-size: 22px;
    font-weight: 400;
    padding: 15px 0;
    color: white;
    border-bottom: 1px solid grey;
}

.image-section-6 {
    width: 800px;
    background-position: center;
    background-size: cover;
    background-image: url("./assets/section_6-image.webp");
}

.section-7 {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    padding: 30px 100px;
}

.oxygen-section {
    height: 400px;
    width: 520px;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
}

.award-section {
    height: 400px;
    width: 520px;
    display: flex;
    justify-content: space-between;
    background-color: #222222;

}

.oxygen-text-section {
    width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding: 10px;
}

.oxygen-image-section {
    background-color: red;
    width: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url("./assets/oxygen.jp.webp");
}

.award-image-section {

    width: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url("./assets/award.png..webp");
}

.oxygen-text-section img {
    display: none;
}

.oxygen-text-section h3 {

    font-size: 20px;
    font-weight: 500;
    color: rgb(112, 111, 111);
}

.oxygen-text-section h1 {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.oxygen-text-section p {
    color: white;
    font-size: 14px;
    padding: 10px 0;
}

.oxygen-text-section a {

    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.section-8 {
    width: 100%;
    min-height: 100vh;
    padding: 55px 100px;
    background-color: black;
}


.section-8 h3 {
    font-size: 22px;
    font-weight: 400;
    padding: 15px 0;
    color: white;
    border-bottom: 1px solid grey;
}

.image-section-8 {
    width: 975px;
    background-position: center;
    background-size: cover;
    background-image: url("./assets/section-8.webp");
}


.section-9 {
    width: 100%;
    min-height: 90vh;
    padding: 55px 100px;

}

.uper-section-9 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(125, 120, 120, 0.5);
    padding: 8px 0;
}

.uper-section-9 h3 {
    font-size: 20px;
    font-weight: 400;

}

.uper-section-9 a {
    color: black;
    text-decoration: none;
}

.bi-plus {
    color: red;
    font-size: 20px;
}

.section-9-second {

    display: flex;
    justify-content: space-between;
    padding: 35px 10px;
    margin-top: 20px;

}

.text-section-9 {
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-section-9 {
    width: 850px;
    background-image: url("./assets/Section-9.webp");
    background-position: center;
    background-size: cover;
}

.text-section-9 h1 {
    font-size: 45px;
    font-weight: 400;
}

.text-section-9 p {
    font-size: 14px;
    padding: 20px 0;
}

.text-section-9 a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
}

.text-section-9 img {
    display: none;
}



.section-10 {
    width: 100%;
    min-height: 80vh;
    padding: 55px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-10-parts {
    display: flex;
    width: 340px;
    height: 450px;
    flex-direction: column;
    justify-content: space-between;
}

.image-section-10a {
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url("./assets/section-10-first.webp");
}

.image-section-10b {
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url("./assets/section-10-second.webp");
}

.image-section-10c {
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url("./assets/section-10-third.webp");
}

.text-section-10 {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}

.text-section-10 h1 {
    font-size: 28px;
    font-weight: 500;
    padding-top: 10px;
    ;
}

.text-section-10 a {
    color: black;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid black;
}

.section-11 {
    width: 100%;
    min-height: 100vh;
    padding: 55px 100px;
}

.main-section-11 {
    display: flex;
    height: 400px;
    justify-content: center;
    margin-top: 25px;
    flex-wrap: wrap;
}

.helpdesk-section-11 {
    width: 520px;
    height: 400px;
    display: flex;
}

.technical-section-11 {
    width: 520px;
    height: 400px;
    display: flex;
}

.text-section-11 {
    background-color: #F8F8F8;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}

.text-section-11 h3 {
    font-size: 21px;
    font-weight: 500;

}

.text-section-11 h1 {
    font-size: 35px;
    font-weight: 400;
    padding: 10px 0;
}

.text-section-11 p {
    padding: 20px 0;
}

.text-section-11 a {

    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}



.image-section-11a {
    width: 305px;
    background-position: center;
    background-size: contain;
    background-image: url("./assets/section-11-first.webp");
}

.image-section-11b {
    width: 305px;
    background-position: center;
    background-size: contain;
    background-image: url("./assets/section-11-second.webp");
}

.image-div-11 {
    display: none;
}

.down-section {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.down-sections {
    padding: 25px 0;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}

.down-sections a {
    color: black;
    text-decoration: none;
}




.section-12 {
    width: 100%;
    min-height: 100vh;
    padding: 55px 100px;
    background-color: black;

}

.section-12 h3 {
    font-size: 20px;
    font-weight: 500;
    color: white;
    border-bottom: 1px solid rgb(69, 68, 68);
    padding-bottom: 10px;

}


.first-section-12 {
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.google-play {
    width: 520px;
    height: 350px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("./assets/section-12-first.webp");
    background-size: cover;
    background-position: center;

}

.email {
    width: 520px;
    height: 350px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("./assets/section-12-second.webp");
    background-size: cover;
    background-position: center;
}



.google-play h1 {
    color: white;
    font-weight: 200;
    font-size: 30px;
}

.google-play h4 {
    color: white;
    font-weight: 100;
    padding: 10px 0;
}

.google-play-btn {
    padding: 15px 100px;
    color: white;
    background: none;
    border: 1px solid #4D4D4D;
    border-radius: 1px;
    font-size: 15px;
    font-weight: 300;
}

.email h1 {
    color: white;
    font-weight: 200;
    font-size: 30px;
}

.email h4 {
    color: white;
    font-weight: 100;
    padding: 10px 0;
}

.email p {
    color: grey;
    padding: 10px 0;
    font-size: 12px;

}

.email input {
    background: none;
    width: 280px;
    height: 45px;
    border: 1px solid grey;
}

.second-section-12 {
    height: 300px;
    display: flex;
    background-color: wheat;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-position: center;
    background-size: cover;
    background-image: url("./assets/section-12-third.webp");

}

.second-section-12 h1 {
    color: white;
    font-size: 55px;
    font-weight: 400;


}

#section-12-second-h3 {
    color: rgb(214, 207, 207);
    border: none;
    font-weight: 300;
    font-size: 18px;
    padding: 5px 0;
}

.subscribe-btn {
    margin-top: 50px;
    padding: 18px 65px;
    border: navajowhite;
    border-radius: 5px;
    font-size: 15px;
}

.section-13 {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 55px 100px;
    border-bottom: 2px solid rgb(213, 210, 210);
}

.main-section-13 {
    display: flex;
    justify-content: space-between;
}


.main-section-13 ul {

    list-style: none;
}

.main-section-13 li {
    margin: 20px 0;
    font-size: 15px;
}


.main-section-13 h3 {
    font-weight: 500;
    font-size: 20px;


}

.second-section-13 {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banking {
    width: 480px;
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
}

.bi-credit-card-fill {
    color: rgb(43, 204, 43);
}

.bi-bank {
    color: rgb(43, 204, 43);
}

.bi-circle-half {
    color: rgb(43, 204, 43);
}

.bi-wallet2 {
    color: rgb(43, 204, 43);
}

.contact {
    height: 40px;
    font-size: 20px;
    width: 298px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}



.contact a {
    text-decoration: none;
    font-size: 17px;
    color: blue;

}

.social {
    padding-top: 7px;
    width: 100px;
    color: rgb(109, 107, 107);
    font-size: 25px;
    display: flex;
    margin-right: 0;
    justify-content: space-between;
}

footer {
    padding: 30px 95px;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F9F9F9;
}

.main-footer {

    align-items: center;
    display: flex;
    justify-content: space-between;
}

.main-footer ul {
    display: flex;
    justify-content: space-between;
}

.main-footer li {
    list-style: none;
}

.footer-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    height: 25px;

}

.main-footer li {
    font-size: 11px;
    margin-right: 20px;
}

.main-footer h3 {
    font-weight: 400;
}

.second-footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.second-footer p {
    color: rgb(63, 60, 60);
    font-size: 13px;
}

.second-footer img {
    height: 45px;
}

@media(max-width : 768px) {

    nav {
        padding: 20px;
    }

    #menue {
        display: block;
    }


    .nav-links {
        display: none;
    }

    .nav-links-secondary {
        display: none;
    }

    #icons {
        display: none;
    }

    #cart {
        display: block;
        font-size: 20px;
    }


    .hero-section {

        padding: 10px;

    }

    .hero-section h1 {
        font-size: 35px;
    }

    .section-2 {
        padding: 10px;
        height: auto;
    }

    .text-section-2 {
        width: inherit;
        height: auto;
    }

    .image-section-2 {
        display: none;
    }

    .text-section-2 img {
        display: block;
        height: 100%;
    }


    .section-3 {
        justify-content: center;
        padding: 10px 10px;
        height: auto;
    }

    .tv-section {
        height: auto;
        width: auto;
    }

    .buds-section {
        width: auto;
        height: auto;
        margin-top: 10px;
    }

    .tv-image-section {
        display: none;
    }

    .tv-text-section {
        height: 600px;
        width: 480px;
    }

    .tv-text-section img {
        display: block;
        width: 300px;
        margin-left: 70px;
    }

    .tv-text-section .buy-btn {
        padding: 10px 80px;

    }

    .tv-text-section h3 {
        font-size: 20px;
    }

    .tv-text-section h1 {
        padding: 10px 0;
    }

    .tv-text-section p {
        font-size: 18px;

    }

    .tv-text-section .learn-btn {

        padding: 10px 70px;
    }

    .section-4 {
        padding: 20px 27px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        align-items: center;
    }

    .oneplus-product {
        height: auto;
        width: 50%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }


    #section-4-links li {

        font-size: 16px;
        margin-right: 12px;
    }

    .section-5 {
        padding: 20px 27px;

    }

    #uper-h1 {
        color: white;
        font-size: 21px;
        padding: 20px 0;
        font-weight: 400;
    }

    .image-section-5 {
        display: none;
    }

    .text-section-5 h1 {
        padding: 40px 0;
    }

    .text-section-5 img {

        display: block;
        width: 420px;
        height: 450px;
    }

    .text-section-5 p {
        padding-top: 30px;
    }



    .bi-arrow-right-short {
        font-size: 30px;
    }

    .section-6 {
        padding: 20px 27px;
    }

    .image-section-6 {
        display: none;
    }

    .section-7 {
        height: auto;
        padding: 10px 20px;
        justify-content: center;
    }

    .oxygen-section {
        width: 370px;
        justify-content: center;
        height: 600px;
    }

    .award-section {
        width: 370px;
        justify-content: center;
        height: 670px;
        margin-top: 10px;

    }

    .oxygen-text-section img {
        display: block;
        width: 250px;
        margin-left: 20px;
    }

    .oxygen-text-section h3 {
        padding-top: 10px;
    }

    .oxygen-text-section p {

        margin-top: 50px;
    }


    .oxygen-image-section,
    .award-image-section {
        display: none;
    }

    .section-8 {
        height: auto;
        padding: 20px 27px;
        justify-content: center;
    }

    .image-section-8 {
        display: none;
    }

    .section-9 {

        padding: 10px 25px;
    }

    .section-9-second {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-section-9 {
        display: none;
    }

    .text-section-9 h1 {
        padding: 20px 0;
        font-size: 35px;
    }

    .text-section-9 p {
        font-size: 13px;
    }

    .text-section-9 img {
        display: block;
        width: 420px;
        height: 400px;
        padding: 30px 0;
    }

    .section-10 {
        justify-content: center;
        height: auto;
    }

    .section-10-parts {
        margin-top: 10px;


    }


    .section-11 {
        padding: 10px 20px;
        height: auto
    }

    .main-section-11 {
        height: auto;
        justify-content: center;
    }

    .down-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image-section-11a {
        display: none;
    }

    .image-section-11b {
        display: none;
    }


    .helpdesk-section-11 {
        justify-content: center;
        flex-wrap: wrap;
        height: auto;

    }

    .technical-section-11 {
        justify-content: center;
        margin-top: 10px;
        flex-wrap: wrap;
        height: auto;
    }

    .text-section-11 {
        justify-content: center;
    }

    .image-div-11 {
        width: 320px;
        height: 250px;
        background-color: red;
        display: block;
        background-position: center;
        background-size: cover;
        background-image: url("./assets/section-11-first.webp");

    }

    .image-div-11b {
        width: 320px;
        height: 250px;
        background-color: red;
        display: block;
        background-position: center;
        background-size: cover;
        background-image: url("./assets/section-11-second.webp");

    }

    .section-12 {
        padding: 10px 20px;
        height: auto;
    }

    .first-section-12 {
        height: 650px;
        justify-content: center;
    }

    .email {
        margin-top: 15px;
    }

    .second-section-12 h1 {
        font-size: 25px;
    }

    #section-12-second-h3 {

        font-size: 12px;
        padding: 0;
    }

    .subscribe-btn {
        padding: 10px 50px;
    }

    .section-13 {

        padding: 10px;
        flex-wrap: wrap;
        height: auto;
    }

    .main-section-13 ul {
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin: 10px 0;

    }

    .main-section-13 {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: center;
    }


    .main-section-13 li {

        margin-top: 5px;
    }

    .second-section-13 {
        flex-wrap: wrap;
    }

    .second-section-13 {
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }

    .contact {
        margin-left: 10px;
        padding-right: 100px;
    }

    .banking {
        padding: 40px 0;
        width: 100%;
    }

    footer {
        padding: 0px;

    }

    .main-footer {
        flex-wrap: wrap;
        justify-content: center;

    }

    .footer-image {
        width: 100%;
        justify-content: center;
        border-bottom: 1px solid rgb(185, 183, 183);
        padding: 20px 0;
    }

    .main-footer ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .main-footer li {
        margin: 10px 0 10px 0;
        font-size: 13px;


    }

    .second-footer {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .second-footer img {
        margin-top: 20px;
    }

}